
        .card-container-wrapper {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 14;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.hero-title {
  font-size: 2.5rem;
  color: white;
  text-shadow: 0 2px 8px rgba(0,0,0,0.6);

  font-weight: 700;
}
  .card-container {display: flex; align-items:center; gap: 2rem; justify-content: center;}

        .card {
          background: rgba(24, 23, 23, 0.1);
          backdrop-filter: blur(15px);
          padding: 1.5rem;
          border-radius: 20px;
          width: 300px;
          color: #ffffff;
          box-shadow: 0 8px 30px rgba(0,0,0,0.3);
          text-align: left;
          margin-top: 100px;
        }
        .card h2 {
          font-size: 1.5rem;
          font-weight: bold;
          margin-bottom: 0.5rem;
        }
        .card p {
          font-size: 1rem;
          margin-bottom: 1rem;

        }
        .card .btn {
          background: rgba(0, 0, 0, 0.2);
          border: none;
          padding: 0.6rem 1.5rem;
          border-radius: 30px;
          font-weight: bold;
          cursor: pointer;
          color: #ffffff;
        }
        .card .btn:hover {
          background: rgba(255,255,255,0.3);
        }
        .swiper-slide {
        
          height: 70vh;
          background-size:cover;
          background-position: center;
        }
        .hero-slider {
          box-shadow: 100px 100px 200px rgba(0, 0, 0, 0.2);
        }
        .hero-desc {
          font-size: 1.2rem;
          color: white;
          margin-top: 1rem;
          max-width: 600px;
          text-align: center;
          line-height: 1.5;
            text-shadow: 0 2px 8px rgba(0,0,0,0.6);
            font-weight: bold;
        }
        

        @media screen and (max-width: 768px) {
            .hero-container{
                height: 10vh;
            margin-bottom: 95vh;}
            .card-container-wrapper {
              position: relative;
                margin-top: -180px;
              margin-bottom: 0;
            
            }
          .card-container {
            
            flex-direction: column;
            align-items: center;
          }
          .card {
            width: 80%;
            margin-top: 7px;
          }
          .hero-title {
            font-size: 2rem;
          }
            .footer
            {
                margin-top: 0;
                padding-bottom: 0;
            }   
            .hero-slider {
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
         @media screen and (max-width: 410px) {
.card-container-wrapper {
              position: relative;
                margin-top: -200px;
              margin-bottom: 0;
            }
         }

                  @media screen and (max-width: 370px) {
.card-container-wrapper {
              position: relative;
                margin-top: -50px;
              margin-bottom: 0;
            }
            .hero-container{
                height: 10vh;
            margin-bottom: 120vh;}
         }